.alert {
  margin-top: 20px;
}

.home-product-layout {
  padding-top: 20px;
}

.home-welcome-layout {
  padding-top: 20px;
}

.modal-title {
  font-family: Playball;
  font-size: 2em;
}

.confirm-order{
  padding: 0 2%;
}

select.form-control{
  background-image: url(../images/ico-select.svg);
}

section.home-welcome-layout .welcome-caption {
  margin-bottom: 50px;
  display: block;
  line-height: 1.6em;
  font-weight: 500;
  text-align: center
}

section.home-welcome-layout .page-title {
  text-align: center;
  margin-bottom: 45px;
  font-size: 72px;
  font-family: Playball;
  line-height: 1em;
  color: #000
}

.content_product {
  height: 300px;
}

.nav-logo > a > img {
  background: #9d1414;
}

.navMobile-logo > a > img {
  background: #9d1414;
}

.alert {
  text-align: center;
}